In [1]:
import pandas as pd
file_path = "Data/iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [2]:
# Drop the class field
new_iris_df = iris_df.drop(['class'], axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [3]:
#  DataFrame is saved on a new CSV file for future use.
output_file_path = "Data/new_iris_data.csv"
new_iris_df.to_csv(output_file_path, index=False)

In [4]:
#  18.2.3-shopping_data.csv Loading

file_path = "Data/shopping_data.csv"
df_shopping = pd.read_csv(file_path, encoding="ISO-8859-1")
df_shopping.head(10)

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0
5           6          No  22.0          17000                    76.0
6           7          No  35.0          18000                     6.0
7           8          No  23.0          18000                    94.0
8           9         Yes  64.0          19000                     3.0
9          10          No  30.0          19000                    72.0

In [5]:
#  18.2.4 Data selection

# account for the data you have

# Columns

df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [6]:
# type of data is available
# list DF data type

df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [10]:
# find null values

#for column in df_shopping.columns:
 #   print(f"Column {column} has {df_shopping[column].isnull().sum()}
  #  null values")

In [11]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [12]:
# find duplicate entries
print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In [14]:
# remove CUSTOMERID column

df_shopping.drop(columns=["CustomerID"], inplace=True)
df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [16]:
# 18.2.5 DATA PROCESSING
# Transform string column

#def change_string(member):
 #   if member == "Yes"
  #  return 1
   # else:
    #    return 0
    
#df_shopping["Card Member"] = df_shopping["Card Member"].apply(change_string)
#df_shopping.head()

SyntaxError: invalid syntax (124817991.py, line 5)

In [17]:
# Transform annual income

df_shopping["Annual Income"] = df_shopping["Annual Income"] / 1000
df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0           15.0                    39.0
1         Yes  21.0           15.0                    81.0
2          No  20.0           16.0                     6.0
3          No  23.0           16.0                    77.0
4          No  31.0           17.0                    40.0

In [18]:
# 18.2.6 DATA TRANSFORMATION

# Saving cleaned data
file_path = "Data/shopping_data_cleaned.csv"
df_shopping.to_csv(file_path, index=False)

In [20]:
# 18.3.1 CLUSTERING DATA

!pip install plotly

Collecting plotly
  Downloading plotly-5.7.0-py2.py3-none-any.whl (28.8 MB)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in c:\users\angie\anaconda3\lib\site-packages (from plotly) (1.16.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.7.0 tenacity-8.0.1

In [24]:
!pip install hvplot

Collecting hvplot
  Downloading hvplot-0.7.3-py2.py3-none-any.whl (3.1 MB)
Requirement already satisfied: numpy>=1.15 in c:\users\angie\anaconda3\lib\site-packages (from hvplot) (1.20.3)
Requirement already satisfied: bokeh>=1.0.0 in c:\users\angie\anaconda3\lib\site-packages (from hvplot) (2.4.1)
Collecting colorcet>=2
  Downloading colorcet-3.0.0-py2.py3-none-any.whl (1.6 MB)
Requirement already satisfied: pandas in c:\users\angie\anaconda3\lib\site-packages (from hvplot) (1.3.4)
Collecting holoviews>=1.11.0
  Downloading holoviews-1.14.8-py2.py3-none-any.whl (4.3 MB)
Requirement already satisfied: Jinja2>=2.9 in c:\users\angie\anaconda3\lib\site-packages (from bokeh>=1.0.0->hvplot) (2.11.3)
Requirement already satisfied: PyYAML>=3.10 in c:\users\angie\anaconda3\lib\site-packages (from bokeh>=1.0.0->hvplot) (6.0)
Requirement already satisfied: pillow>=7.1.0 in c:\users\angie\anaconda3\lib\site-packages (from bokeh>=1.0.0->hvplot) (8.4.0)
Requirement already satisfied: typing-extensions>=3.10.0 in c:\users\angie\anaconda3\lib\site-packages (from bokeh>=1.0.0->hvplot) (3.10.0.2)
Requirement already satisfied: packaging>=16.8 in c:\users\angie\anaconda3\lib\site-packages (from bokeh>=1.0.0->hvplot) (21.0)
Requirement already satisfied: tornado>=5.1 in c:\users\angie\anaconda3\lib\site-packages (from bokeh>=1.0.0->hvplot) (6.1)
Collecting param>=1.7.0
  Downloading param-1.12.1-py2.py3-none-any.whl (85 kB)
Collecting pyct>=0.4.4
  Downloading pyct-0.4.8-py2.py3-none-any.whl (15 kB)
Collecting panel>=0.8.0
  Downloading panel-0.13.0-py2.py3-none-any.whl (15.6 MB)
Collecting pyviz-comms>=0.7.4
  Downloading pyviz_comms-2.2.0-py2.py3-none-any.whl (42 kB)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\angie\anaconda3\lib\site-packages (from Jinja2>=2.9->bokeh>=1.0.0->hvplot) (1.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\angie\anaconda3\lib\site-packages (from packaging>=16.8->bokeh>=1.0.0->hvplot) (3.0.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\angie\anaconda3\lib\site-packages (from pandas->hvplot) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\angie\anaconda3\lib\site-packages (from pandas->hvplot) (2.8.2)
Requirement already satisfied: tqdm>=4.48.0 in c:\users\angie\anaconda3\lib\site-packages (from panel>=0.8.0->holoviews>=1.11.0->hvplot) (4.62.3)
Requirement already satisfied: requests in c:\users\angie\anaconda3\lib\site-packages (from panel>=0.8.0->holoviews>=1.11.0->hvplot) (2.26.0)
Requirement already satisfied: bleach in c:\users\angie\anaconda3\lib\site-packages (from panel>=0.8.0->holoviews>=1.11.0->hvplot) (4.0.0)
Collecting markdown
  Downloading Markdown-3.3.6-py3-none-any.whl (97 kB)
Requirement already satisfied: six>=1.5 in c:\users\angie\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->hvplot) (1.16.0)
Requirement already satisfied: colorama in c:\users\angie\anaconda3\lib\site-packages (from tqdm>=4.48.0->panel>=0.8.0->holoviews>=1.11.0->hvplot) (0.4.4)
Requirement already satisfied: webencodings in c:\users\angie\anaconda3\lib\site-packages (from bleach->panel>=0.8.0->holoviews>=1.11.0->hvplot) (0.5.1)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\angie\anaconda3\lib\site-packages (from markdown->panel>=0.8.0->holoviews>=1.11.0->hvplot) (4.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\angie\anaconda3\lib\site-packages (from importlib-metadata>=4.4->markdown->panel>=0.8.0->holoviews>=1.11.0->hvplot) (3.6.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\angie\anaconda3\lib\site-packages (from requests->panel>=0.8.0->holoviews>=1.11.0->hvplot) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\angie\anaconda3\lib\site-packages (from requests->panel>=0.8.0->holoviews>=1.11.0->hvplot) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\angie\anaconda3\lib\site-packages (from requests->panel>=0.8.0->holoviews>=1.11.0->hvplot) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\angie\anaconda3\lib\site-packages (from requests->panel>=0.8.0->holoviews>=1.11.0->hvplot) (3.2)
Installing collected packages: param, pyviz-comms, pyct, markdown, panel, colorcet, holoviews, hvplot
Successfully installed colorcet-3.0.0 holoviews-1.14.8 hvplot-0.7.3 markdown-3.3.6 panel-0.13.0 param-1.12.1 pyct-0.4.8 pyviz-comms-2.2.0

In [25]:
!pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in c:\users\angie\anaconda3\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\angie\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\angie\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.2.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\angie\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.7.1)
Requirement already satisfied: numpy>=1.14.6 in c:\users\angie\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.20.3)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1309 sha256=9593044c66c162be737584b4b1b48dfc4ac02b05f052209f5d11b289c7da1aa9
  Stored in directory: c:\users\angie\appdata\local\pip\cache\wheels\e4\7b\98\b6466d71b8d738a0c547008b9eb39bf8676d1ff6ca4b22af1c
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [26]:
# Initial imports
import pandas as pd
import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

ModuleNotFoundError: No module named 'hvplot'